.del-btn {
    background-color: #ff4b4b;
    color: #fff;
    border:none; 
    border-radius:10px; 
    min-height: 40px;
    min-width: 55px;
    font-weight: bold;
    font-size: 12px;
}

.del-btn:hover {
    background-color: #c72525;
    cursor: pointer;
}