.header-title {
    text-align: center;
    font-size: 15px;
    
}

.follow-table {
    width: 100%;
    text-align: center;
}


.follow-table td {
    padding: 10px;
}

.follow-table td a {
    text-decoration: none;
    color: black;
}

.del-btn {
    float: right;
}

.user-id {
    font-weight: bold;
}