.menuBox {
    display: flex;
    justify-content: space-between;
	align-items : center;
    padding: 0px 40px 0px 40px;
    background-color: #d8e8ff;
}

.headerLogo a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    float: left;
    text-decoration: none;
    color: black;
}

.logo_img {
    width: 50px;
}

.headerLogo a:hover {
    color: rgb(54, 84, 255);
}

.headerLogo a h2 {
    margin-left: 30px;
}

.menu ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.menu ul li {
    font-weight: bold;
    font-size: 20px;
    padding: 8px 25px;
    border-radius: 15px;
}


.menu ul li a {
    text-decoration: none;
}

.menu ul li:hover {
    background-color: #9fbfff;
    color: white;
}

.userName {
    font-weight: bold;
    font-size: 15px;
    margin-right: 10px;
}

.logoutBtn {
    background-color: #3d7eff;
    color: #fff;
    border:none; 
    border-radius:10px; 
    min-height: 30px;
    min-width: 50px;
    font-weight: bold;
    font-size: 12px;
    padding: 10px;
}

.logoutBtn:hover {
    cursor: pointer;
    background-color: #0055ff;
}

.arrow {
    display: none;
}

@media screen and (max-width: 972px) {
    .menuBox {
        flex-direction: column;
        align-items: flex-start;
    }

    .headerLogo a {
        font-size: 13px;
    }

    .logo_img {
        width: 30px;
    }

    .menu ul {
        flex-direction: column;
        align-items: center;
        
    }

    .menu {
        display: none;
        width: 100%;
    }

    .menu ul li {
        width: 100%;
        text-align: center;
        font-size: 15px;
    }

    .user {
        position: absolute;
        right: 10px;
        margin-top: 30px;
    }

    .arrow {
        display: block;
    }
}