.wrap {
    height: auto;
    min-height: 45vh;
    padding-bottom: 180px;
}


.user-list-box {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
}

.user-list-table {
    width: 30%;
    border-collapse: collapse;
}

.user-list-table td {
    border-bottom: 1px solid rgba(46, 46, 46, 0.366);
    padding: 10px 30px 10px 30px;
}


.user-list-table td a{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: black;
}