.search-box {
    display: flex;
    justify-content: center;
}

.search-form {
    position:relative;
    width: 500px;
    margin-top: 5%;
}

.search-input {
    outline:0;
    border: 1px solid black;
    border-radius: 20px;
    display:block;
    width:100%;
    padding:20px;
    padding-right:60px;
    font-weight:bold;
}

.search-btn {
    position:absolute;
    top:50%;
    right:10px;
    transform:translateY(-50%);
    border: 0;
    background-color: transparent;
}

.search-img {
    width: 20px;
}

.search-img:hover {
    cursor: pointer;
}

.list-box {
    display: flex;
    justify-content: center;
}

.list-box div {
    width: 65%;
}

.list-ul {
    text-decoration: none;
}

.search-table {
    margin-top: 30px;
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}

.search-table th {
    border-bottom: 1.5px solid rgb(0, 0, 0);
    padding: 10px 30px 10px 30px;  
}

.search-table td {
    border-bottom: 1px solid rgba(46, 46, 46, 0.366);
    padding: 10px 30px 10px 30px;
}

.search-table tr:not(:first-child):hover {
    background-color: rgb(230, 230, 230);
}

.loading-box {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}