.signup-body {
    background-color: #6981FF;
    text-align: center;
    display : flex;
    justify-content: center;
	align-items : center;
    height: 100vh;
}

.signup-box {
    background-color: white;
    width: 520px;
    height: 700px;
    border-radius: 30px;
}

.gender-radio {
    margin-top: 5px;
    margin-bottom: 5px;
}
.gender-radio input[type=radio]{
    display: none;
    margin-left: 10px;
}
.gender-radio input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    height: 33px;
    width: 100px;    
    border-radius: 15px;
    font-weight:bold;
    font-size: 15px;
    padding-top: 10px;
}

.gender-radio input[type=radio]+label{
    background-color: rgb(233, 233, 233);
    color: #333;
    margin-right: 10px;
}
.gender-radio input[type=radio]:checked+label{
    background-color: #3e5fff;
    color: #fff;
}

.signup-btn-box {
    margin-top: 30px;
}

.go-to-login {
    margin-top: 15px;
}

.go-to-login a {
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    color: black;
}

.go-to-login a:hover {
    color: #6981FF;
}

/* .input-box {
    width: 370px;
    height: 45px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
    margin-top: 20px;
  }

.input-box:focus {
    outline: 2px solid blue;
}

.signup-btn { 
    width: 120px;
    height: 50px;
    background: #6981FF;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    border: none;
    margin-top: 30px;
    margin-bottom: 15px;
}

.signup-btn:hover {
    cursor: pointer;
    background-color: rgb(80, 80, 254);
} */

